/* Style codes for inheritance.html */

h1 {
    color: rgb(162, 0, 255);
    font-size: 28px;
    background-color: blanchedalmond;  
}

ul {
    color: blue;
}


.hope {
    color: chartreuse;
    font-size: 45px;
    background-color: brown;
}

.core {
    background-color: blue;
    color: bisque;
}

.pac {
    font-style: italic;
}

.two {
    background-color: deeppink;
}

#one {
    background-color: rgb(36, 36, 36);
    color: pink;
    font-style: normal;
}

#fig {
    background-color: olive;
}

#m3 {
    color: green;
}

#aqua {
    color: crimson;
    font-weight: bold;
    background-color: rgb(128, 187, 247);
}

#que {
    background-color: aquamarine;
}





/* Style codes for index.html */

h1 {
    color: rgb(162, 0, 255);
    font-size: 18px;  
}

.sect3 {
    padding: 90px;
    border: 90px solid black;
    border-radius: 600px;
    margin: 5px;
}

.sect2 {
    padding: 90px;
    border: 60px solid rgb(39, 39, 39);
    border-radius: 400px;
    margin: 20px;
}

.sect1 {
    padding: 90px;
    border: 30px solid rgb(97, 97, 97);
    border-radius: 200px;
    margin: 50px;
}

p {
    color: green;
    font-size: 14px;
}

